body {
  #content-mobile {
    #panel-mobile {
      //height: 500px;
      //display: none;
      width: 350px;
      height: 350px;
      border: 1px solid $purple;
      margin: 100px auto 100px auto;
      position: relative;
      //top: 150px;
      text-align: center;

      .corner {
        background-color: $text_aquamarine;
        width: 27px;
        height: 27px;
        display: inline-block;
        z-index: -1;
      }
  
      .corner-1 {
        clip-path: polygon(0% 0%, 0% 100%, 4% 100%, 4% 4%, 100% 4%, 100% 100%, 100% 100%, 100% 0);
        position: relative;
        top: 20px;
        right: 130px;
      }
  
      .corner-2 {
        clip-path: polygon(100% 100%, 96% 100%, 96% 4%, 0 4%, 0 0, 100% 0, 100% 0);
        position: relative;
        top: 20px;
        left: 130px;
      }

      .corner-3 {
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0, 100% 96%, 4% 96%, 4% 0);
        position: relative;
        top: 73px;
        right: 130px;
      }
  
      .corner-4 {
        clip-path: polygon(0% 0%, 0 100%, 0 0, 0 0, 96% 0, 96% 96%, 0 96%, 0 100%, 100% 100%, 100% 0);
        position: relative;
        top: 73px;
        left: 130px;
      }
  
      .title {
        font-size: 1.5625rem;
        line-height: 2.1875rem;
        color: $purple;
        margin-top: 65px;
  
        .line-break {
          display: block;
        }
  
        .aquamarine-text {
          color: $text_aquamarine;
        }
      }
  
      p {
        font-size: 1rem;
        line-height: 1.8125rem;
      }
    }
  }
}

    

@media screen and (min-width: 1024px) {
  body {
    main {
      //display: block;

      .film-roll-1 {
        width: 50px;
        animation-name: film-roll-1;
        animation-duration: 3s;
        animation-delay: 0.5s;
        animation-timing-function: linear;
      }
  
      .film-roll-2 {
        width: 65px;
        animation-name: film-roll-2;
        animation-duration: 3s;
        animation-delay: 0.5s;
        animation-timing-function: linear;
      }
      
      .film-roll-1, .film-roll-2 {
        position: relative;
        top: 155px;
        left: 60px;
        z-index: 2;
      }
    
      #img-camera {
        width: 120px;
        position: relative;
        top: 250px;
        left: -50px;
      }
    
      .light {
        display: inline-block;
        background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #50e3c2 100%);
        clip-path: polygon(0 38%, 100% 0, 100% 100%, 0 62%);
        opacity: 0;
        height: 151px;
        width: 8%;
        max-width: 80px;
        position: relative;
        top: 243px;
        left: -50px;
        animation-name: flicker, camera;
        animation-duration: 2s, 2s;
        animation-delay: 0.5s, 3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
      }

      // #panel-mobile {
      //   display: none;
      // }
    
      #panel {
        width: 47.7%;
        max-width: 700px;
        height: 330px;
        border: 1px solid $purple;
        //margin: -150px auto 0 auto;
        margin: 4px auto 50px auto; //24
        position: relative;
        top: 0;
        text-align: center;
  
        .cam-stream {
          display: block;
          margin: 12px auto 0 auto;
          //margin-top: 25px;
          object-fit: initial;
          width: 450px;
          height: 250px;
        }
    
        // .cam-stream {
        //   display: block;
        //   margin: 12px auto 0 auto;
        //   //margin-top: 25px;
        //   object-fit: initial;
        //   width: 550px;
        //   height: 300px;
        // }
    
        .cam-stream.hidden {
          display: none;
        }
    
        .corner {
          background-color: $text_aquamarine;
          width: 27px;
          height: 27px;
          display: inline-block;
          z-index: -1;
        }
    
        .corner-1 {
          clip-path: polygon(0% 0%, 0% 100%, 4% 100%, 4% 4%, 100% 4%, 100% 100%, 100% 100%, 100% 0);
          position: relative;
          top: 20px;
          right: 42%;
        }
    
        .corner-2 {
          clip-path: polygon(100% 100%, 96% 100%, 96% 4%, 0 4%, 0 0, 100% 0, 100% 0);
          position: relative;
          top: 20px;
          left: 42%;
        }
    
        .created-gif {
          display: block;
          margin: 12px auto 0 auto;
          //object-fit: initial;
          width: 450px;
          height: 250px;
        }
    
        .created-gif-overlay {
          width: 450px;
          height: 250px;
          margin: 12px auto -268px auto;
          position: relative;
          top: -262px;
          //left: 50px;
          background-color: $purple06opacity;
    
          .overlay-content {
            position: relative;
            top: 30%;
            // img {
            //   display: block;
            //  // margin: 0 auto 0 auto;
            // }
    
            // .link-info {
            //   color: $purple;
            //   position: absolute;
            //   top: -150px;
            //   left: 450px;
            // }
    
            .icons-wrapper {
              display: flex;
              justify-content: space-between;
              width: 15%;
              position: relative;
              visibility: hidden;
              top: -50px;
              left: 83%;
            }
            
            // .icons-wrapper.hidden {
            //   display: none;
            // }
    
            p {
              color: #FFF;
              font-size: 0.9375rem;
              line-height: 2.5rem;
            }
          }
        }
    
        .created-gif.hidden {
          display: none;
        }
    
        // .corner-1, .corner-2 {
        //     margin-top: 20px;
        //     position: absolute;
        // }
    
        .corner-3 {
          clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0, 100% 96%, 4% 96%, 4% 0);
          position: relative;
          top: 57px;
          right: 42%;
        }
    
        .corner-4 {
          clip-path: polygon(0% 0%, 0 100%, 0 0, 0 0, 96% 0, 96% 96%, 0 96%, 0 100%, 100% 100%, 100% 0);
          position: relative;
          top: 57px;
          right: -42%;
        }
    
        .title {
          font-size: 1.5625rem;
          line-height: 2.1875rem;
          color: $purple;
          margin-top: 65px;
    
          .line-break {
            display: block;
          }
    
          .aquamarine-text {
            color: $text_aquamarine;
          }
        }
    
        p {
          font-size: 1rem;
          line-height: 1.8125rem;
        }
      }
    
      #paso-a-paso {
        margin: 24px auto -50px auto;
        display: flex;
        justify-content: space-between;
        width: 10%;
        max-width: 160px;;
    
        .recordStep {
          width: 2rem;
          height: 2rem;
          color: $purple;
          font-size: 1.125rem;
          border: 1px solid $purple;
          border-radius: 50%;
          text-align: center;
          line-height: 2rem;
        }
    
        .recordStep.active {
          color: #fff;
          background-color: $purple;
        }
    
        // #repeatBtn {
        //   color: $purple;
        //   font-size: 0.8125rem;
        //   line-height: 1rem;
        //   left: 30%;
        // }
      }
    
      #duration-repeat {
        color: $purple;
        font-size: 0.9375rem;
        line-height: 1.375rem;
        position: relative;
        left: 69%;
        top: -45px;
      }
    
      .repeatBtn:hover {
        text-decoration: underline $aquamarine 2px;
        cursor: pointer;
      }
    
      .film-roll-3 {
        position: relative;
        left: 80%;
      }
    
      .line {
        background-color: $purple;
        width: 55.3%;
        height: 6.9px;
        margin: 0 auto 20px auto;
        border-radius: 25px;
      }
    
      .btn {
        margin: 20px auto 26px auto;
      }
    
      //     .hidden {
      //       display: none;
      //     }
    }

    // #content-mobile {
    //   #panel-mobile {
    //     //height: 500px;
    //     display: none;
    //   }
    // }
  }
}
  
  @media screen and (min-width: 1300px) {
    body {
      main {
        #panel {
          height: 390px;

          .cam-stream {
            width: 550px;
            height: 300px;
          }
  
          .created-gif {
            width: 550px;
            height: 300px;
          }
      
          .created-gif-overlay {
            margin-bottom: -310px;
            width: 550px;
            height: 300px;
            top: -312px;
  
            .overlay-content {
              .icons-wrapper {
                width: 13%;
                left: 85%;
                top: -65px;
              }

              .loader {
                animation-name: loading;
                animation-duration: 3s;
                animation-timing-function: linear;
              }
            }
          }
  
          .corner-3 {
            top: 92px;
          }
      
          .corner-4 {
            top: 92px;
          }
  
          .title {
            margin-top: 90px;
          }
        }
      }
    }
  }


@media screen and (min-width: 1500px) {
  body {
    main {
      
      .film-roll-1, .film-roll-2 {
        left: 185px;
      }

      #panel {
        height: 410px;
      }
    
      #img-camera {
        left: 70px;
      }
    
      .light {
        left: 70px;
      }

      .line {
        margin-bottom: 25px;
      }
    }

    

    // footer + .purple-line {
    //   margin-bottom: 400px;
    //   }
    }
  }

@keyframes camera {
  0%   {opacity: 0;}
  25%  {opacity: 0.2;}
  50%  {opacity: 0.4;}
  100% {opacity: 0.6;}
}
  
@keyframes film-roll-1 {
  0%   {transform: rotate(-0.25turn);}
  25%  {transform: rotate(-0.5turn);}
  50%  {transform: rotate(-0.75turn);}
  100% {transform: rotate(-1turn);}
}
  
@keyframes film-roll-2 {
  0%   {transform: rotate(0.25turn);}
  25%  {transform: rotate(0.5turn);}
  50%  {transform: rotate(0.75turn);}
  100% {transform: rotate(1turn);}
}
  
@keyframes flicker {
  0%   { opacity:0; }
  25%  { opacity:1; }
  50%  { opacity:0; }
  75%  { opacity:1; }
  100% { opacity:0; }
}

@keyframes loading {
  0%   {transform: rotate(0.2turn);}
  10%  {transform: rotate(0.4turn);}
  20%  {transform: rotate(0.6turn);}
  30%  {transform: rotate(0.8turn);}
  40%  {transform: rotate(1turn);}
  50%  {transform: rotate(1.2turn);}
  60%  {transform: rotate(1.4turn);}
  70%  {transform: rotate(1.6turn);}
  80%  {transform: rotate(1.8turn);}
  90%  {transform: rotate(2turn);}
  100% {transform: rotate(2.2turn);}
}
  


////COPIADO:

// body {
//   main {
//     //position: relative;
  
//     #img-camera {
//       position: relative;
//       //top: 140px;
//       //left: 7%;
//     }
  
//     .light {
//       display: inline-block;
//       background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #50e3c2 100%);
//       clip-path: polygon(0 38%, 100% 0, 100% 100%, 0 62%);
//       opacity: 0.3;
//       height: 151px;
//       width: 91px;
//      //position: relative;
//       //top: 136px;
//       //@at-root: 7%;
//     }
  
//     #panel {
//       width: 47.8%;
//       height: 390px;
//       border: 1px solid $purple;
//       //margin: -150px auto 0 auto;
//       margin: 4px auto 0 auto;
//       position: relative;
//       top: 0;
//       text-align: center;

//       .cam-stream {
//         display: block;
//         margin: 12px auto 0 auto;
//         //margin-top: 25px;
//         object-fit: initial;
//         width: 450px;
//         height: 300px;
//       }
  
//       // .cam-stream {
//       //   display: block;
//       //   margin: 12px auto 0 auto;
//       //   //margin-top: 25px;
//       //   object-fit: initial;
//       //   width: 550px;
//       //   height: 300px;
//       // }
  
//       .cam-stream.hidden {
//         display: none;
//       }
  
//       .corner {
//         background-color: $text_aquamarine;
//         width: 27px;
//         height: 27px;
//         display: inline-block;
//         z-index: -1;
//       }
  
//       .corner-1 {
//         clip-path: polygon(0% 0%, 0% 100%, 4% 100%, 4% 4%, 100% 4%, 100% 100%, 100% 100%, 100% 0);
//         position: relative;
//         top: 20px;
//         right: 42%;
//       }
  
//       .corner-2 {
//         clip-path: polygon(100% 100%, 96% 100%, 96% 4%, 0 4%, 0 0, 100% 0, 100% 0);
//         position: relative;
//         top: 20px;
//         left: 42%;
//       }
  
//       .created-gif {
//         display: block;
//         margin: 12px auto 0 auto;
//         //margin-top: 25px;
//         object-fit: initial;
//         width: 550px;
//         height: 300px;
//       }
  
//       .created-gif-overlay {
//         width: 550px;
//         height: 300px;
//         position: absolute;
//         top: 43px;
//         left: 50px;
//         background-color: $purple06opacity;
  
//         .overlay-content {
//           position: relative;
//           top: 40%;
//           // img {
//           //   display: block;
//           //  // margin: 0 auto 0 auto;
//           // }
  
//           // .link-info {
//           //   color: $purple;
//           //   position: absolute;
//           //   top: -150px;
//           //   left: 450px;
//           // }
  
//           .icons-wrapper {
//             display: flex;
//             justify-content: space-between;
//             width: 13%;
//             position: absolute;
//             top: -160%;
//             left: 85%;
//           }
          
//           .icons-wrapper.hidden {
//             display: none;
//           }
  
//           p {
//             color: #FFF;
//             font-size: 0.9375rem;
//             line-height: 2.5rem;
//           }
//         }
//       }
  
//       .created-gif.hidden {
//         display: none;
//       }
  
//       // .corner-1, .corner-2 {
//       //     margin-top: 20px;
//       //     position: absolute;
//       // }
  
//       .corner-3 {
//         clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0, 100% 96%, 4% 96%, 4% 0);
//         position: relative;
//         top: 93px;
//         right: 42%;
//       }
  
//       .corner-4 {
//         clip-path: polygon(0% 0%, 0 100%, 0 0, 0 0, 96% 0, 96% 96%, 0 96%, 0 100%, 100% 100%, 100% 0);
//         position: relative;
//         top: 93px;
//         right: -42%;
//       }
  
//       .title {
//         font-size: 1.5625rem;
//         line-height: 2.1875rem;
//         color: $purple;
//         margin-top: 89px;
  
//         .line-break {
//           display: block;
//         }
  
//         .aquamarine-text {
//           color: $text_aquamarine;
//         }
//       }
  
//       p {
//         font-size: 1rem;
//         line-height: 1.8125rem;
//       }
//     }
  
//     #paso-a-paso {
//       margin: 24px auto 19px auto;
//       display: flex;
//       justify-content: space-between;
//       width: 10%;
  
//       .recordStep {
//         width: 2rem;
//         height: 2rem;
//         color: $purple;
//         font-size: 1.125rem;
//         border: 1px solid $purple;
//         border-radius: 50%;
//         text-align: center;
//         line-height: 2rem;
//       }
  
//       .recordStep.active {
//         color: #fff;
//         background-color: $purple;
//       }
  
//       // #repeatBtn {
//       //   color: $purple;
//       //   font-size: 0.8125rem;
//       //   line-height: 1rem;
//       //   left: 30%;
//       // }
//     }
  
//     #duration-repeat {
//       color: $purple;
//       font-size: 0.9375rem;
//       line-height: 1.375rem;
//       position: relative;
//       left: 69%;
//       top: -45px;
//     }
  
//     .repeatBtn:hover {
//       text-decoration: underline $aquamarine 2px;
//       cursor: pointer;
//     }
  
//     #film-roll {
//       position: absolute;
//       left: 80%;
//       top: 650px;
//     }
  
//     .line {
//       background-color: $purple;
//       width: 55.3%;
//       height: 6.9px;
//       margin: auto;
//       border-radius: 25px;
//     }
  
//     .btn {
//       margin: 20px auto 26px auto;
//     }
  
//     //     .hidden {
//     //       display: none;
//     //     }
//   }  
// }


// @media screen and (min-width: 1300px) {
//   body {
//     main {
//       #panel {
//         .cam-stream {
//           width: 550px;
//           height: 300px;
//         }
//       }
//     }
//   }
// }

