body {
  main {
    #fav-section {
      width: 100%;
      //padding-bottom: 57px;
  
      .section-icon {
        margin-top: 5px;
      }
  
      h2 {
        color: $purple;
        text-align: center;
        font-size: 1.25rem;
        line-height: 1.6rem;
        margin-bottom: 46px;
      }
  
      .flex-wrapper {
        width: 100%;
        //margin-bottom: 57px;
  
        #fav-no-content {
          width: 100%;

          img {
            display: block;
            margin: 0 auto 23px auto;
            width: 120px;
          }
  
          p {
            width: 50%;
            text-align: center;
            font-size: 1rem;
            line-height: 1.6rem;
            color: $text_aquamarine;
            margin: 0 auto 137px auto;
          }
        }
  
        #fav-with-content {
          padding: 0 4% 53px 4%;
          max-width: 600px;

          .gif-container {
            position: relative;
            margin: 0 10px 22px 0;
            //margin-bottom: 25px;

            .faved-gifs {
              width: 156px;
              height: 120px;
            }

            .gif-overlay,
            .icons-wrapper,
            .gif-user,
            .gif-title {
              display: none;
            }
          }
        }

        // #ver-mas-favs {
        //   margin-bottom: 78px;
        //   display: none;
        // }
      }
    }
  }
}


@media screen and (min-width: 1024px) {
  body {
    // header {
    //   #nav{
    //     #menu {
    //       margin-left: 35%;
    //     }
    //   }
    // }
    main {
      #fav-section {
        .section-icon {
          margin-top: 11px;
        }
  
        h2 {
          text-align: center;
          font-size: 1.5625rem;
          line-height: 1.875rem;
          margin-bottom: 109px;
        }
  
        .flex-wrapper {
          #fav-no-content {
            width: 100%;
  
            img {
              display: block;
              margin: 0 auto 23px auto;
              width: 150px;
            }
  
            p {
              width: 30%;
              text-align: center;
              font-size: 1.375rem;
              line-height: 1.875rem;
              margin: 0 auto 137px auto;
            }
          }
  
          #fav-with-content {
            max-width: 1150px;
            padding: 0 5% 78px 5%;

            .gif-container {
              width: 260px;
              height: 200px;
  
              .faved-gifs {
                width: 100%;
                height: 200px;
              }
  
              .gif-overlay {
                width: 260px;
                height: 200px;
                position: absolute;
                top: 0px;
                display: block;

                  .icons-wrapper,
                  .gif-user,
                  .gif-title {
                    display: block;
                  }

                  .icons-wrapper {
                    display: flex;
                    visibility: hidden;
                    width: 115px;
                    justify-content: space-between;
                    margin-top: 10px;
                    margin-left: 133px;
                  }

                  .gif-user, .gif-title {
                    color: #fff;
                    position: absolute;
                    text-align: left;
                    visibility: hidden;
                  }
        
                  .gif-user {
                    font-size: 0.9375rem;
                    line-height: 1.125rem;
                    top: 122px;
                    left: 18px;
                  }
        
                  .gif-title {
                    font-size: 1rem;
                    line-height: 1.1875rem;
                    top: 144px;
                    left: 18px;
                  }
                }
                
              .gif-overlay:hover {
                background-color: $purple06opacity;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  body {
    main {
      #fav-section {
        .flex-wrapper {
          #fav-with-content {
            max-width: 1350px;
            padding: 0 3% 78px 3%;
          }
        }
      }
    }
  }
}



// .gif-overlay {
//   width: 41.6%;
//   height: 200px;
//   position: absolute;
//   top: 0px;

//   .icons-wrapper {
//     display: flex;
//     visibility: hidden;
//     width: 115px;
//     justify-content: space-between;
//     margin-top: 10px;
//     margin-left: 133px;
//   }

//   .gif-user, .gif-title {
//     color: #fff;
//     position: absolute;
//     font-family: "Roboto", sans-serif;
//     text-align: left;
//     visibility: hidden;
//   }

//   .gif-user {
//     font-size: 0.9375rem;
//     line-height: 1.125rem;
//     font-weight: 400;
//     top: 122px;
//     left: 18px;
//   }

//   .gif-title {
//     font-size: 1rem;
//     line-height: 1.1875rem;
//     font-weight: 700;
//     top: 144px;
//     left: 18px;
//   }