$purple: #572EE5;
$purple06opacity: rgba(87, 46, 229, 0.6); 
$text_aquamarine: #50E3C2;
$aquamarine: #5ED7C6;
$icon_gray: #CDD6E0;
$trending_gray: #F3F5F8;
$active_link_gray: #9CAFC3;

$background_dark_mode: #37383C;
$trending_dark_mode: #222326;
$icon_dark_mode: #CDD6E0;
