@media screen and (max-width: 1023px) {
	body {
		.max-container {
			position: fixed;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(255,255,255, 0.9);
		
			.close-icon {
				display: block;
				position: relative;
				left: 87%;
				top: 17%;
			}
		
			.maxed-gif {
				display: block;
				position: relative;
				margin: auto;
				top: 25%;
				width: 80vw;
				height: 40vh;
			}
		
			.gif-overlay {
				position: relative;
				top: 23%;
				//top: 0;
				left: 11%;
				margin: auto;
		
				.gif-user {
					color: #000;
					font-size: 0.9375rem;
					line-height: 1.125rem;
					margin-bottom: 6px;
				}
			
				.gif-title {
					color: #000;
					font-size: 1rem;
					line-height: 1.1875rem;
				}
		
				.fav-icon, .download-icon {
					position: relative;
					margin-right: 7px;
					left: 68%;
					top: 35px;
					height: 32px;
					width: 32px;
					opacity: 0.7;
				}
		
				.fav-icon:hover, .download-icon:hover {
					opacity: 1;
					cursor: pointer;
				}
			}
		}
	}
}